@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
h1{
font-family: 'Acme', sans-serif;
font-size:60px ;
text-align: center;

}

h2{
font-family: 'Acme', sans-serif;
font-size:30px ;

}

 footer{
font-family: 'Acme', sans-serif;
font-size:15px;
text-align: center;  
background-color:#b8f2e6;
padding:10px;
 }
  
 header{
 background-color:#b8f2e6;
 padding:10px;
 }


  
 ul,li{
     list-style-type:circle;
 }
 a:link{
     text-decoration: none;
     color:#ffa69e;
 }
  
 a:hover{
     color:#f7d9c4;
 }

 a:visited{
     color:#aed9e0;
 }
 img {
    float:right;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    
  }

img{
    box-shadow: 10px 10px 5px grey;
}