@import url('https://fonts.googleapis.com/css2?family=Laila:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@500&family=Lato&display=swap');


/**************Style for the header and fonts********************/

h1{
    font-family: 'Laila', sans-serif;
    font-size: 1.8em;
   
    
}

h1#title-gallery{
    text-align: center;
}

h1#title-city{
  text-align: center;
}

h2#title-parties{
  font-size: 1.5em;
}



img.logo-home{
 display: block;
 width: 250px;
 max-width: 100%;

}

header{
    background-color: #f8f9fa;
    padding: 1em;
}


/************************Style for the Navigation*************************************/

nav button{

    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size:1.6rem ;
    
}


nav {
  background-color: #ba181b;
  font-family: "lato", sans-serif;
}

nav ul{
    list-style-type:none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgba(0,0,0,0.3);

}

nav ul li.active{
  background-color:white;

}

nav ul li a:hover{
    background-color: #e6ccb2;
}

nav ul.hide{
    display: none;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }


  /*********************Main or Content****************************************/

  main{
      max-width: 1110px;
      margin: auto;
      padding-top: 2.5em;
  }
 
       /* Gallery*/
 
  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color:white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: white;
    font-family: "lato", sans-serif;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


  div.directory-home{
    display: block;
    padding: 4em;
    margin-top: 2em;

    border: 4px solid #83c5be;
  }

  

  img.imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    max-width: 100%;
    
  }

  h4.title-home{
    color: black;
    font-size: 1.5em;
  }

  p.paragraph-home{
    color: black;
    text-align: justify;
    font-family: "lato",sans-serif;
    font-size:1em ;
  }

  form.action-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
  }

  input.action{
    padding: .5em;
   background-color: #83c5be;
   border: none;
   font-family: 'lato', sans-serif;
   font-size: 1em;
   border-radius: 1rem;
   padding:.75rem 1.5rem ;
   width: 96%;
   max-width:20rem ;
   font-family: "lato",sans-serif;
  }

  p.paragraph-weather{
    font-family: "lato",sans-serif;
    text-align: center;
  }

  section.weather-section{
    margin-top: 2em;
   
    border: 4px solid #ffddd2;
  }

  h3.title-table{
    display: none;
  }
  /*************************Style for the page city**********************************/
  

  img.image-city{
    display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
   width: 1000px;
    
  }

  p.paragraph-city{
    font-family: "lato", sans-serif;
    font-size: 1em;
    text-align: justify;
    background-color: #cbf3f0;
    padding: 1.5em;
    
  }

  .column{
    display: block;
  
  }

 .row{
   background-color: #a4c3b2;
   padding: 1.5em;
 }

  img.imagen{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 
  }

  h2{
    font-family: 'Laila', sans-serif;
    font-size: 2.3em;
    color: black;
  }

  h3{
    font-family: 'Laila', sans-serif;
    font-size: 1em;
    text-align: center;
    color: black;
  }

  p.paragraph-curiosidades{
    font-family: "lato",sans-serif;
    font-size: 1em;
    padding-left: 1.5em;
   text-align: justify;
   color: black; 
  }
 
   section.events{
     margin-top: 2em;
     background-color:#cbf3f0 ;
     padding: 1.5em;
   }

   h3#title-events{
     margin-top: 2em;
   }

  img.image-calendar{
    max-width: 100%;
    
  }
  p.paragraph-events{
    font-family: "lato",sans-serif;
    text-align: justify;
  }

  footer.footer{
    display: block;
    background-color:#ba181b ;
    padding: 0.5em;
    font-family: "lato",sans-serif;
    margin-top: 1.5em;
    
  }

  a.link{
   text-decoration: none;
   color:#cbf3f0 ;
  }

  /********************************About Us****************************************************/



  img.image-about{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 600px;
  }
 
  h3.title-about{
    text-align: left;
  }

  p.paragraph-about{
    font-size: 1.1em;
    text-align: justify;
    font-family: "lato", sans-serif;
  }


  div.container{
    margin-top: 6em;
    border:3px solid;
    padding: 1.5em;
  }


  div.column{
    display: block;
  }
  
  div.border{
    border-top-style:solid ;
  }

  h3.title-contact{
    text-align: left;
  }


  section.container-dos{

    padding: 1.5em;
    padding-right: 2em;
  }
  section.container-tres{
    background-color: white;
    padding-top: 2em;
    margin-right: 5em;
   
  }

 

 p.i{
   font-family: "lato", sans-serif;
   color: black;
 }

 .hola{
   font-family: "lato", sans-serif;
 }

 #hola{
   font-family: "lato",sans-serif;
 }



 form label.hola div{
   display: block;
  padding: .50rem;

  font-family: "lato", sans-serif;
 
 }

 form label.hola input{
   display: block;
   font-size: 1rem;
   border: solid 1px #999;
   border-radius: 4px;
   padding: .75rem;
   color: #161a1d;
   width: 100%;
   max-width: 20rem;
   background-color: rgba(0, 0,0,0.1);
 }

 .button{
   
   padding: .5em;
   background-color: #ffbf69;
   border: none;
   font-family: 'lato', sans-serif;
   font-size: 1em;
   border-radius: 1rem;
   padding:.75rem 1.5rem ;
   width: 96%;
   max-width:20rem ;
   font-family: "lato",sans-serif;
 }




 


 /*************************Style for the social media****************************************/

  *{
  
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

 img.social-image{
   width: 30px;
 }

 div.social{
   position: fixed;
   left: 0;
   top: 200px;
   z-index: 2000;
 }



 div.social  a{
   display: block;
   color: white;
   background-color:#ffddd2;
   padding: 10px 15px;
   text-decoration: none;
   -webkit-transition: all 500ms ease;
   -o-transition:all 500ms ease;
   transition:all 500ms ease;
 }

 div.social  a:hover{
   padding: 10px 30px;
   background: rosybrown;
 }



 div#five-day{
   display: none;
 }
 /****************************Style for the page join to us ********************************************************/
 
form fieldset{
  margin: 2rem 0;
  border: 2px solid #fac549;
  border-radius: 10px;
  padding: .5rem 2%;
}




form legend{
  font-family: "lato",sans-serif;
  font-size: 1.5em;
  margin: 0 1rem;
  padding: 0 .5rem;
  color:rosybrown;
}



form label.top input{
  
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #161a1d;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0,0,0.1);
}

form label.top,div{
  display: block;
  padding-top: 2em;
  font-family: "lato",sans-serif;
  font-size: 1em;
  color: #a4161a;
}


textarea{
  width: 100%;
  border: solid 1px #999;
  border-radius: 1rem;
  background-color: rgba(0, 0,0,0.1);
}

.button-plan{
  border: none;
  background-color: #fac549;
  font-family: 'lato', sans-serif;
  font-size: 1em;
  border-radius: 1rem;
  padding:.75rem 1.5rem ;
  width: 96%;
  max-width:20rem ;
}

form label.top input:required{
  border-left:#f8961e solid 6px;
}





h3.title-dos{
  text-align: left;
  font-size: 1.8em;
  color: black;
}

h4.title-plan{
  font-family: 'Laila', sans-serif;
  font-size: 1.5em;
  color: black;
}

p.paragraph-plan{
  font-family: "lato", sans-serif;
  color: black;
  text-align: left;
  padding-right: 1em;

}

div.plan-uno{
border: 1px solid #bc8f8f;
padding: 1em;
}

div.plan-dos{
  border: 1px solid #bc8f8f;
  padding: 1em;
  
}

div.plan-tres{
  border: 1px solid #bc8f8f;
  padding: 1em;
 
}

div.plan-cuatro{
  border: 1px solid #bc8f8f;
  padding: 1em;

}

div.plan-uno:hover{
 background-color: #ff9f1c;
}

div.plan-dos:hover{
  background-color: #ff9f1c;
 
}

div.plan-tres:hover{
  background-color: #ff9f1c;
 
}

div.plan-cuatro:hover{
  background-color: #ff9f1c;
 
}

/********************************Style for the pague Directory**************************************************/

div.directory{
  margin-top: 2em;
  padding: 1.5em;
  background-color: #83c5be;
}

h2.title-directory{
  text-align: left;
}

h3#button{
  text-align: left;
}


/* Create two equal columns that floats next to each other */
.div {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.seccion:after {
  content: "";
  display: table;
  clear: both;
}


/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #ffddd2;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #ffddd2;
  color: black;
}

h4.title-directory{
  color: black;
  font-size: 1.5em;
}

p.paragraph-directory{
  color: black;
  text-align: justify;
  font-family: "lato",sans-serif;
  font-size:1em ;
}

img.imagen-directory{
  width: 300px;
  max-width: 100%;
  margin-top: 5em;
  margin-left: 2em;
}

