@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

/* style for the font of the page*/

h1{
    font-size: 3em;
    font-family: 'Lora', serif;
    text-align: center;
    
}


h4,h5{
    font-size:1.5em;
    font-family: 'Lora', serif;

}




.sub-header{
    font-size:0.8em ;
    font-family: 'Lora', serif;
    text-align: center;
  
}

 /*Style for the logo and how the image will diaplay*/

img{
    display:block;
    margin-left: auto;
    margin-right: auto;

    width: 150px;
    
}

/*Style for the header*/

header{
    background-color: #face88;
    padding: 1em;
    margin-left: auto;
}
 /*Style for the navigation, how will display, and the responsive for mobile*/



nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: black;
 
}

nav{
    clear:left;
   background-color: #fac549;
   font-family: 'Montserrat', sans-serif;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a{
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgb(0,0,0,0.5);
}


nav ul li.active{
   
    background-color: white ;
    color: white;
   
}


nav ul li a:hover{
    background-color: #f8961e ;
}

 
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  /*Content*/


  main{
    max-width:950px;
    margin: auto;
}
  

/*style for the town columns*/

h2,h3{
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

p{
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif; 
}

main{
    max-width:950px;
    margin: auto;
}

.home-image{
    width: 100%;
}

div.cards{
    display: block;
    margin: auto;
    padding: 2%;
}

img.imagen{
    width: 96%;
  padding: 2%;
  max-width: 400px;
}

section.card-section{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 60%);
    background-color: antiquewhite;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.line{
    font-size: 3em;
    font-family: 'Lora', serif;
    text-align: center; 
}

.line-one{
    text-align: center;
}
 li{
   
    font-size: 1em;
    font-family: 'Montserrat', sans-serif; 
}
div.event{
    display: block;
    padding: 8em;
    background-color: antiquewhite;
    
}
 
/*Information*/
.information{
    display: block;
    padding-left: 1em;
    
  }

  .image-information{
      width:100%;
      height: auto;
      padding: 1em;
   
  }

  .image-social{
      display: inline;
      width:70px;
      padding: 0.30em;
  }

  .i{
    font-family: 'Montserrat', sans-serif;
    font-size:1.3em;
  }
  
  /*Footer*/

  footer{
    background-color: #face88;
    padding: 0.8em;
    font-family: 'Lora', serif;
    font-size: 12px;
    text-align: center;


}
  
/*Link del footer*/

a.link{
    text-decoration: none;
    color: white;
    
}

a:hover{
    background-color: #f8961e  ;
}

nav ul.hide{
    display: none;
}

/*Announcement*/

aside#active.anuncio.hide {
  display: none;
}