@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

h2,h3{ 
 font-family: 'Acme', sans-serif;
font-size:50px ;
text-align: center;
}


h1{
font-family: 'Acme', sans-serif;
font-size:70px ;
text-align: center;
}

header{
    background-color:#b8f2e6;
    padding:10px;
    padding-right:20px ;
}

.image{
     
    width: 400px;
    height: 800px;
}



footer{
    margin-top: 20px;
    margin-bottom:20px;
    font-family: 'Acme', sans-serif;
    font-size:25px;
    text-align: center;
    background-color:#b8f2e6;
    padding:20px;
}


.card{
    margin: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-color: white;
    border-style: double;
  
    background-color:#ea9ab2;
}

a:link{
     font-size: 30px;
     text-decoration: none;
     color:#ffa69e;
 }
  
 a:hover{
     color:#f7d9c4;
 }

 a:visited{
     color:white;
 }
