h2,h3{
    font-size:50px;
  
}

h1{
    font-size:70px;
}

footer{
    font-size:25px;
}



main{

    display:grid;
    grid-template-columns: 1fr;
}


/********************** Tablet **********************/
@media only screen and (min-width: 65em){
    main{
        grid-template-columns: 1fr 1fr;
    }
}

/********************** Desktop **********************/
@media only screen and (min-width: 90em){
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }
}