/**** Ipad****/


@media only screen and (min-width: 37.5em) {
    nav ul {
      display: flex;
    }
    nav ul li {
      flex: 1 1 100%;
      
    }

  }

  /***** desktop*/
  @media only screen and (min-width: 60em) {
    h1{
        font-size: 6em;
     
    }
     
    h2{
        font-size:2em ;
        
      
    }
    
    
    
    h3,p{
        font-size: 1em;
     
    }
}